  <div id="footer-bottom">
  	<div id="yac-copyright">
  		<p id="copyright-techhamlet">&copy; 2013 <a target="_blank" href="http://www.techhamlet.com" title="Tech Hamlet">Tech Hamlet</a> Sri Lanka (All rights reserved) | <a target="_blank" href="http://youarecurio.us/">Youarecurio.us (Version 2.0)</a> is a product of TechHamlet Network | 
  		<span class="credit">Powered by <a href="http://octopress.org">Octopress</a> and <a href="http://pages.github.com/">GituHub Pages</a></span></p>
  	</div> 		
  
  <div id="html5-logo"> <a href="http://www.w3.org/html/logo/"> <img width="197" height="64" title="HTML5 Powered with CSS3 / Styling, Multimedia, and Semantics" alt="HTML5 Powered with CSS3 / Styling, Multimedia, and Semantics" src="/images/html5-badge.png"> </a></div></div>
